:root { /* Le colour pallet */
  --gray: #7d7d7d;
  --light-gray: #cfcfcf;
  --medium-gray: #afafaf;
  --lighter-gray: #dddddd;
  --white: #f9f9f9; /* A less bright white */
  --black: #000000;
  --green-bright: #19d619;
  --green-light: #15e615;
}

body{ /* Make all content go to edge of page*/
    margin: 0px;
}

#navbar { /* Navbar styling */
    background-color: var(--gray);
    height: 75px;
    display: flex;
}
#navbuttons{ /* Centering the buttons */
    align-self: center;
    align-items: center;
}

#homeButton, #aboutButton{
    /* Navigation buttons */
    background-color: var(--light-gray);
    border: none;
    border-radius: 5px;

    color: var(--white);
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    cursor: pointer; /* Used to make the user know that they can click */
}

#logo{ /* Logo styling */
    background-image: url(images/TreeHousePro_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 200px;
    align-self: center;
    margin: 20px;
} /* End of Navbar Styling */

#heroImage { /*Hero image styling */
    background-image: url(images/hero_image.jpg);
    background-size: cover;   
    background-repeat: no-repeat; /* No repeat to make sure the image does not repeat */
    background-position: center; /* Centering the image */
    height: 750px; /* Height of the image */
    display: flex; 
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    
}
#heroImage h1 {
    margin: 0px;
    transform: translateY(-200px);

    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    font-size: 100px;

} /* End of hero image styling */

#aboutTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

    text-align: center;
}

#contentBox1, #contentBox2{ /* Content box styling */
    display: flex; /* Initial styling for aligning content */
    align-items: center;

    background-color: var(--medium-gray); /* Styling the actual box */
    border-radius: 10px;
    margin: 5%;
    padding: 2%;
}
#contentBox1 h1, #contentBox2 h1{
    font-family: Arial, Helvetica, sans-serif; /* Font family for the text */
    font-size: 50px;
    margin: 0px;   
}
#contentBox1 p, #contentBox2 p{
    font-family: Arial, Helvetica, sans-serif; /* Font family for the text */
}

#contentBox2 div{
    text-align: right;
} 
#image1{ 
    background-image: url(images/building-2762241_1920.jpg);
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;


}
#image2{
    background-image: url(images/tree-1496362_1280.jpg);
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
    margin-right: 100px;
}
#textArea1 ,#textArea2{ /* Ensure text area is roughly the same size as image */
    width: 50%;
}
/* End of content box styling */



#carouselImagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;      
}
#carouselImagesContainer button{ /* Carousel button styling */
    margin: 0px 20px;

    font-size: 25px;

    background-color: var(--white);

    border-radius: 50%;
    border: solid;
    border-width: 2px;
    border-color: var(--green-bright);

    aspect-ratio: 1/1;

    cursor: pointer; /* Used to make the user know that they can click */
}

#carouselImages{ /* Carousel image styling */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;   
}
#carouselText{ /* Carousel text styling */
    margin: 50px;

    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--lighter-gray);
    border-radius: 10px;
    border-color: var(--gray);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;   
} 


/* Setting the background images for the carousel, cant use class for this (I think?)*/
#carouselImg1{background-image: url(images/fantasy_treehouse.jpg);}
#carouselImg2{background-image: url(images/grown_up_treehouse.jpg);}
#carouselImg3{background-image: url(images/modern_treehouse.jpg); background-position: 70% 30%;} /*Recentering the image as its offset weirdly*/
#carouselImg4{background-image: url(images/rustic_treehouse.jpg);}



.carouselImg{ /* Sets style for all images in the carousel */
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    aspect-ratio: 1/1;

    opacity: 0.6;
    margin: 0px 20px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
    border-radius: 3px;
}
.carouselImg.selected{ /* Sets style for the animation of the selected image in the carousel */
    transform: scale(1.2);
    opacity: 1;
}

#infoButtons{ /* Info button alignment */
    margin: 0px 20px;
    justify-content: center;
    align-items: center;  
}
#infoButtons button{ /* General info button styling */
    border-radius: 5px;

    color: var(--black);
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    cursor: pointer; /* Used to make the user know that they can click */
}
#quoteButton { /* Quote button styling */
    background-color: var(--green-light);
    border: solid;
    border-width: 3px;
    border-color: var(--green-bright);
}
#moreInfoButton { /* More info button styling */
    background-color: var(--white);
    border: solid;
    border-width: 3px;
    border-color: var(--green-bright);
}

footer { /* Footer styling */
    background-color: var(--gray);
    padding: 20px;
}
footer p { /* Footer text styling */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* I would put credits here but I already did that */
