body{ /* Make all content go to edge of page*/
    margin: 0px;
}

#navbar { /* Navbar styling */
    background-color: gray;
    height: 75px;
    display: flex;

}
#navbuttons{ /* Centering the buttons */
    align-self: center;
    align-items: center;
}

#homeButton, #aboutButton{
    background-color: rgb(204, 204, 204);
    border: none;
    border-radius: 5px;

    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    cursor: pointer; /* Used to make the user know that they can click */
}

#logo{ /* Logo styling */
    background-image: url(images/TreeHousePro_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 200px;
    align-self: center;
    margin: 20px;
} /* End of Navbar Styling */

#heroImage { /*Hero image styling */
    background-image: url(images/hero_image.jpg);
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    
}
#heroImage h1 {
    margin: 0px;
    transform: translateY(-200px);

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100px;

} /* End of hero image styling */

#aboutTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

    text-align: center;
}

#contentBox1, #contentBox2{ /* Content box styling */
    display: flex; /* Initial styling for aligning content */
    align-items: center;

    background-color: rgb(175, 175, 175); /* Styling the actual box */
    border-radius: 10px;
    margin: 5%;
    padding: 2%;
}
#contentBox1 h1, #contentBox2 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0px;   
}
#contentBox1 p, #contentBox2 p{
    font-family: Arial, Helvetica, sans-serif; 
}
#contentBox1 {
    margin-top: 0px;
}

#contentBox2 div{
    text-align: right;
} /* End of content box styling */



#image1{
    background-image: url(images/building-2762241_1920.jpg);
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;


}
#image2{
    background-image: url(images/tree-1496362_1280.jpg);
    background-size: cover;
    background-position: 0px -50px;
    background-repeat: no-repeat;
    height: 300px;
    width: 50%;
    margin-right: 100px;
}
#textArea1 ,#textArea2{
    width: 50%;
}

#carouselImagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;      
}
#carouselImagesContainer button{
    margin: 0px 20px;
    
    font-size: 25px;

    border-radius: 50%;
    border: solid;
    aspect-ratio: 1/1;
}

#carouselImages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;   
}
#carouselText{
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;   
} 

#carouselImg1{background-image: url(images/fantasy_treehouse.jpg);}
#carouselImg2{background-image: url(images/grown_up_treehouse.jpg);}
#carouselImg3{background-image: url(images/modern_treehouse.jpg); background-position: 70% 30%;} /*Recentering the image as its offset weirdly*/
#carouselImg4{background-image: url(images/rustic_treehouse.jpg);}



.carouselImg{
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    aspect-ratio: 1/1;

    opacity: 0.6;
    margin: 0px 20px;
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}
.carouselImg.selected{
    transform: scale(1.2);
    opacity: 1;
}

#infoButtons{
    margin: 0px 20px;
    justify-content: center;
    align-items: center;  
}
#infoButtons button{
    border-radius: 5px;

    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    cursor: pointer; /* Used to make the user know that they can click */
}
#quoteButton {
    background-color: rgb(20, 255, 20);
    border: solid;
    border-width: 3px;
    border-color: rgb(20, 225, 20);
}
#moreInfoButton {
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 3px;
    border-color: rgb(20, 225, 20);
}

footer {
    background-color: gray;
    padding: 20px;
}
footer p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}